* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  color: #222;
}

header {
  background: #111827;
  color: white;
  text-align: center;
  padding: 25px 15px;
}

header h1 {
  font-size: 30px;
  margin-bottom: 8px;
}

header p {
  font-size: 15px;
}

main {
  max-width: 600px;
  margin: auto;
  padding: 18px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 18px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.card h2 {
  margin-bottom: 15px;
  font-size: 21px;
}

input,
select {
  width: 100%;
  padding: 13px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #111827;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.card p {
  margin-bottom: 12px;
  line-height: 1.5;
}

#rideMessage,
#hotelMessage,
#loginMessage,
#driverMessage,
#socialMessage {
  margin-top: 12px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 25px 15px;
  background: #111827;
  color: white;
  margin-top: 20px;
}
